#written by pardesicat
[Desktop Entry]
Name=discord
Exec=/home/catboii/APPS/Discord/Discord
Path=/home/catboii/APPS/Discord/
Icon=/home/catboii/APPS/Discord/discord.png
Type=Application
