#written by pardesicat
[Desktop Entry]
Name=firefox
Exec=/home/catboii/APPS/firefox/firefox
Path=/home/catboii/APPS/firefox/
Icon=/home/catboii/APPS/firefox/browser/chrome/icons/default/default128.png
Type=Application
