#written by pardesicat
[Desktop Entry]
Name=thunderbird
Exec=/home/catboii/APPS/thunderbird/thunderbird
Path=/home/catboii/APPS/thunderbird/
Icon=/home/catboii/APPS/thunderbird/chrome/icons/default/default256.png
Type=Application

